body {
    font-family: monospace;
}

textarea {
    width: 100%;
    font-size: 12pt;
    font-family: monospace;
    resize: none;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: auto;
}

#map {
    width: 500px;
    height: 500px;
}