* {
    font-family: monospace;
    font-size: 24pt;
}

table {
    width: 100%;
    border-collapse: collapse;
}

body {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 3em;
}

td {
    padding: 5px;
    white-space: nowrap;
    height: 1.5em;
}

tr {
    border-bottom: 1px dashed lightgrey;
}

td.c {
    text-align: center;
}

#ya {
    color: blue;
    font-weight: bold;
}

#k {
    color: orange;
    font-weight: bold;
}

button {
    border-radius: 5px;
}